<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/MyStyles.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Testing.by", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <form action="/Home/Search" method="post" class="navbar-form navbar-left"> 
                            <div class="form-group"> 
                                <input class="form-control" name="seachText" id="seachText" placeholder="Search"> 
                            </div> 
                            <input type="submit" class="btn btn-success" value="Search" /> 
                        </form>
                    </li>

                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Users", "Index", "User")</li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Test management<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Create test", "Create", "Test")</li>
                                <li>@Html.ActionLink("Tests view", "GetAllTests", "Test")</li>
                            </ul>
                        </li>
                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <div class="navbar navbar-default  navbar-fixed-bottom">
            <footer>
                <center><h4>Copyright &copy; testing.by, 2016-2017. All rights reserved.</h4></center>
            </footer>
        </div>
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>