@model MvcPL.Models.TestViewModel
@{
    ViewBag.Title = "Delete";
}

<h2>Delete test</h2>

@using (Html.BeginForm("Delete", "Test", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <h3>Do You want to delete the test?</h3> <br />
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.TestName)
    @Html.HiddenFor(model => model.Description)

    <div class="form-group">
        @Html.LabelFor(m => m.TestName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.TestName)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Description)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Delete" />
        </div>
    </div>
    <div>
        @Html.ActionLink("Back to List", "Show", "Test", new { idTest = Model.Id }, null)
    </div>
    <br />
}

